# Import sqlite3 module.
    Use the connect() method.
    Use the cursor() method.
    Use the execute() method.
    Extract result using fetchall()
    Extract result one only using fetchone()
    importcx_Oracale
    con=cx_oracle.connect(system//r00t123@127.0.1/XE)
    cursor=con.cursor();
    for mysql:%s
    for sqlite3 ?
    for oracle :variable

In [61]:
def displayall():
    cursor.execute("select * from employee");
    print("{:<4}   {:<20}   {:<10}".format("----", "--------------------", "----------"))
    print("{:<4}   {:<20}   {:<10}".format("ID", "Name", "Salary"))
    print("{:<4}   {:<20}   {:<10}".format("----", "--------------------", "----------"))
    for row in cursor.fetchall():
        print("{:<4}   {:<20}   {:<10}".format(row[0], row[1], row[2]))
    print("{:<4}   {:<20}   {:<10}".format("----", "--------------------", "----------"))

In [62]:
def addemployee():
    ename = input("Enter Name of Employee : ")
    empid = int(abs(hash(ename)%10**4))
    sal = float(input("Enter employee salary : "))
    cursor.execute("insert into employee values(?,?,?)",(empid, ename, sal))
    con.commit();
    print("Employee ID is : ", empid)
    print("Employee detail added successfully...")

In [63]:
def deleteemp(empid):
    cursor.execute("delete from employee where empid=?",(empid,))
    con.commit();
    print("Employee detail deleted successfully...")

In [64]:
def updateemp(empid, ename, sal):
    cursor.execute("update employee set ename=?, sal=? where empid=?;",(ename, sal, empid))
    con.commit(); 
    print("Employee detail updated successfully...")

In [65]:
def displayid(empid):
    print("{:<4}   {:<20}   {:<10}".format("----", "--------------------", "----------"))
    print("{:<4}   {:<20}   {:<10}".format("ID", "Name", "Salary"))
    print("{:<4}   {:<20}   {:<10}".format("----", "--------------------", "----------"))
    cursor.execute("select * from employee where empid=?;",(empid,))
    row = cursor.fetchone();
    print("{:<4}   {:<20}   {:<10}".format(row[0], row[1], row[2]))
    print("{:<4}   {:<20}   {:<10}".format("----", "--------------------", "----------"))

In [66]:
import sqlite3

In [67]:
con=sqlite3.connect("/home/pankaj/Public/sqlite3/mydb.db")

In [68]:
cursor=con.cursor();
displayall()

----   --------------------   ----------
ID     Name                   Salary
----   --------------------   ----------
5723   Prasad Powar           20000.0
8246   Awishkar Gaikwad       30000.0
5754   Krishna                40000.0
5860   Pankaj Gharde          10000.0
----   --------------------   ----------

In [70]:
ch = 0
while ch!=6:
    ch = int(input("""
                        1. add new employee
                        2. delete employee
                        3. update employee details
                        4. display all employee
                        5. display employee by id
                        6. exit
                    
                    
                Enter your choice : """))
    if ch==1:
        addemployee()
    elif ch==2:
        deleteemp(int(input("Enter employee ID : ")))
    elif ch==3:
        updateemp(int(input("Enter employee ID : ")), input("Enter employee Name : "), float(input("Enter employee salary : ")))
    elif ch==4:
        displayall()
    elif ch==5:
        displayid(int(input("""
                Enter employee ID : 
                            """)))
    else:
        print("Logout successfully.......")

                        1. add new employee
                        2. delete employee
                        3. update employee details
                        4. display all employee
                        5. display employee by id
                        6. exit


                Enter your choice : 1
Enter Name of Employee : Aditya Nagose
Enter employee salary : 60000
Employee ID is :  8767
Employee detail added successfully...

                        1. add new employee
                        2. delete employee
                        3. update employee details
                        4. display all employee
                        5. display employee by id
                        6. exit


                Enter your choice : 4
----   --------------------   ----------
ID     Name                   Salary
----   --------------------   ----------
5723   Prasad Powar           20000.0
8246   Awishkar Gaikwad       30000.0
5754   Krishna                40000.0
5860   Pankaj Gharde          10000.0
8767   Aditya Nagose          60000.0
----   --------------------   ----------

                        1. add new employee
                        2. delete employee
                        3. update employee details
                        4. display all employee
                        5. display employee by id
                        6. exit


                Enter your choice : 6
Logout successfully.......